 

 body{


 	background-color:black;
 	color: white;

 }


 .container{
 	text-align: center;
 	color:blue;
 	background-color:gray;
 	width: 58%;
 	height: auto;

 	margin: 5% auto 0 auto;
 }

.imgContainer{

	color: red;

	display: none;

}

.imgcontainer img{

	width: 320px;
}